<div class="tmsq-scoring-container">
    <form method="post" action="{FORM_ACTION}">
        <div class="tmsq-scoring-panel-container panel-body">
            <div class="tmsq-scoring-panel">
                <span class="tmsq-scoring-panel-header">
                    {PANEL_HEADER_TEXT}
                    <button class="btn btn-default" type="submit">{SUBMIT_BUTTON_TEXT}</button>
                </span>
                <!-- BEGIN test -->
                <div class="tmsq-scoring-question-panel">
                    <span class="tmsq-scoring-question-header">{QUESTION_HEADER_TEXT}</span>
                    <div class="tmsq-scoring-panel-answer-container">
                        {ANSWER}
                    </div>
                </div>
                <!-- END test -->
            </div>

        </div>

    </form>
</div>
